
#withouthotair
{
    max-width: var(--narrow-page-width);
    margin: 0 auto;
}

@media (max-width: 800px)
{
    #withouthotair
    {
        max-width: initial;
    }
}

#withouthotair #subtitle
{
    color: #666;
    font-size: 1.0em;
    margin-top: -10px;
    margin-bottom: 20px;
    font-style: italic;
}


#time-and-tags
{
    display: flex;
    flex-direction: row;
    gap: 1em;
    align-items: center;
    margin-bottom: 30px;
}

#tags
{
    font-size: 0.9em;
    color: #888;

    display: flex;
    gap: 10px;
}

#tags .tag
{
    background-color: #eee;
    padding: 4px 8px;
    border-radius: 4px;
    /* cursor: pointer; */
    cursor: default;
}


#withouthotair-body {
    display: flex;
    flex-direction: column;
    word-wrap: break-word;
}
#withouthotair-body p {
    line-height: 1.6em;
    margin-bottom: 6px;
    margin-top: 6px;
}
#withouthotair-body img {
    max-width: 100%;
    margin: auto;
    display: block;
}
#withouthotair-body blockquote {
    border-left: 4px solid #ccc;
    /* margin-left: 0; */
    /* margin-right: 0; */
    padding: 10px 0px 10px 16px;
    color: #555;
    font-style: italic;
}

.conversation
{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 20px;

    /* border-radius: 4px;
    border: 1px solid #ddd;
    padding: 20px; */
}
.conversation .comment
{
    background-color: #f9f9f9;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
}


.clickable-header
{
    cursor: pointer;
    display: inline-flex;
}
.clickable-header:hover
{
    text-decoration: underline;
}
.clickable-header span
{
    margin: auto 5px;
}
.clickable-header:hover span
{
    text-decoration: none;
}


.responsive-iframe {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9 aspect ratio */
    height: 0;
    overflow: hidden;
}
.responsive-iframe iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
}


table
{
    border-collapse: collapse;
    margin: 20px auto;
}
table, th, td
{
    border: 1px solid #ccc;
}
th, td
{
    padding: 8px 12px;
}

p
{
    text-align: justify;
}
